@media only screen and (max-width: 1070px) {
    .conven,
    .review__container {
        column-count: 1;
    }
    .review__text {
        height: 100px;
    }
    .infor__user, .score {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 780px) {
    .head__title {
        /* transform: translateY(460px); */
    }
    .general__des {
        border-top: 2px solid #dddddd; 
    }
    .gallery__item {
        object-fit: fill;
    }
    .gallery__item:hover  {
        opacity: 1;
        cursor: default;
    }
    .gallery__item--b {
        border-radius: 0;
    }
    .task, .gallery,
    .galllery__col--2 {
        display: none;
    }
    .des__re {
        margin-right: 0;
    }
    .room__des, 
    .review, 
    .detail__des {
        max-width: 100%;
    }
    .reser__box {
        display: none;
    }
    .col__icon {
        padding-right: 20px;
    }
    /* ----------header mobile--------- */
    header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /* z-index: 100; */
        /* background: var(--main-color);
        color: #fff; */
        background: #fff;
    }
    .header__container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 5px 10px #ccc;
        padding: 0 30px;
    }
    .header__icon {
        font-size: 1.6rem;
        padding: 10px;
        cursor: pointer;
        /* color: #fff; */
    }
    .header__icon--favo {
        color: red;
    }
    .header__icon--share {
        color: blue;
    }
}